appname = app
httpport = 3000
runmode = dev
PrivateKeyFile = "certs/JWT_test.key"
PublicKeyFile = "certs/JWT_test.cer"
Algorithm = "RS256"
Ldap_server = "tds.ldap.com"
Ldap_port = "389"
Base_dn = "ou=APPNAME,o=T2,DC=COM"
Ldap_user = "cn=APPUSER,ou=APPNAME,o=T2,DC=COM"
Ldap_pass = "PASSWORD"
conn_timeout = 10
CLIENT_ID = "25911744c7f11vhlek.apps.googleusercontent.com"
CLIENT_SECRET = "SDJfhoasdofiu900a9sdf"
CLIENT_CALLBACK = "http://appdomain:3000/auth/gplus/callback"
SESSION_SECRET = "aalksjdhfaoijÖKJSLDkfjasdasdf"
SESSION_NAME = "GoGwt"
SESSION_TIMEOUT = 5
SESSION_REFRESH_INTERVAL = 2
ASSETS_PATH = "./files"
